body{
  font-family: Arial;
  font-size: 15px;
  line-height: 1.5;
  margin:0;
  padding: 0;
  background-color: #e6e6e6;
}

h1{
  font-size: 30px;
}

h2{
  font-size: 30px;
  font-weight: 700;
  padding-left: 10%;
}
h3{
  font-size: 20px;
}



/* global css */
.contain{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dark {
  padding: 15px;
  background: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;

}

/*Styling for the Header*/
header{
  background: #000000;
  color: #ffffff;
  padding-top: 20px;
  min-height: 70px;
  border-bottom: #cc0000 3px solid;
}

#logo{
  float: left;
}

header #logo a{
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

header .highlight, header .current a{
  color: #cc0000;
  font-weight: bold;
}

nav {
  float: right;
  padding: 0px 0px 0 0;
}

nav li{
  display: inline;
}

nav a{
  color: #ffffff;
  text-decoration: none;
}


nav ul li{
  float: left;
  font-size: 150%;
  padding: 10px;
}

header a:hover, footer a:hover{
	color: #cc0000 ;
  font-weight: bold;
}



/* banner starts here */
#banner-container{
  min-height: 400px;
  background: url("../images/homebanner2.png") no-repeat 0px 0px;
  border-bottom: #cc0000 3px solid;
  text-align: center;
  background-size: cover;
  color: #ffffff;

}

#banner-container h1{
  margin-top: 100px;
  font-size:55px;
  margin-bottom:10px;
}

#banner-container p{
  font-size: 20px;
}

/*
#banner{
  min-height: 400px;
  background: url("../images/homebanner.png") no-repeat -320px -620px;
}
*/

.one-fourth {
  font-size: 150%;
  width:25%;
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
  float:left;
  text-align: center;
  color: #ffffff;
  background-color: #000000 ;
}

.one-fourth a{
  text-decoration: none;
  color: #000000;
}

.card-container{
  cursor: pointer;
  perspective: 600;
  position: relative;
  height: 150px;
  width: 100%;
}

.card{
  height: 170px;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;

}

.card:hover{
  transform: rotateY(180deg);
}

.card .flip-front{
  background-color: #000000;
  backface-visibility:hidden;
  height: 170px;
  position: absolute;
  overflow: hidden;
  width: 100%;
}

.card .flip-back{
  background: #eaeaed;
  color:#0087cc;
  line-height: 170px;
  text-align: center;
  transform: rotateY(180deg);
}

/* featured review section */

#featured-reviews .box {
  margin-top: 30px;
}

#featured-reviews .box{
  float: left;
  width: 46%;
  padding: 10px;
  text-align: center;
  }

#featured-reviews a{
  width:46%;
}



.newsletter{
  padding: 15px;
  padding-bottom: 15px;
  color: #000000;
  background: #ffffff;
}

.newsletter h2{
  float: left;
  font-size: 20px;

}

.newsletter form{
  float: right;
  margin-top: 15px;
  margin-bottom: 15px;
}

.newsletter input[type="email"]{
  padding: 3px;
  height: 25px;
  width: 250px;
}

.button1{
  border: 0;
  background: #ed3f36;
  border-radius: 4px;
  box-shadow: 0 5px 0 #bb0000;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 5px 30px;
  transition: all .1s linear;
}
.button1:active {
  box-shadow: 0 2px 0 #bb0000;
  transform: translateY(3px);
}


footer{
  background-color: #000000;
  width:100%;
  height: 140px;
}

.social{
  text-align: center;
  margin-top: 20px;
}

.social li{
  display: inline;
  padding: 10px;
}

.fa{
  padding: 20px;
  font-size: 50px;
  width: 50px;
  color: #ffffff;
  border-radius: 50%;
}

.social i{
  font-size: 50px;
}

.fa-facebook{
  background: #3B5998;
}

.fa-twitter{
  background: #55ACEE;
}

.fa-youtube{
  background: #bb0000;
}

.fa-instagram{
  background: #517fa4;
}

.fa-snapchat-ghost{
  background: #FFFA37;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

footer a{
  margin: 0;
  font-size: 150%;
  text-decoration: none;
  color: #ffffff;
}

footer .current a{
  color: #cc0000;
  font-weight: bold;
}
/* styling for conten on the Review pages ps4,pc,xbox,nintendo */

#slider, .slideshow, .slide-content{
  padding-top: 10px;
  height: 400px;
  width: 100%;
  overflow: hidden;
  margin: 0;


}

.slideshow{
  position: relative;
}

.slide{
  background-size: cover;

  background-repeat: no-repeat;

}



.slide1{
  background-image: url("../images/ps4slideshow2.png") ;
}
.slide2{
  background-image: url("../images/ps4slideshow1.png");
}
.slide3{
  background-image: url("../images/ps4slideshow3.png");
}

.arrow{
  cursor: pointer;
  position: absolute;
  top: 55%;
  margin-top: -50px;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left{
  border-width: 30px 40px 30px 0;
  left: 0;
  margin-left: 20px;
  border-color: transparent #000000 transparent transparent;
}

#arrow-right{
  border-width: 30px 0 30px 40px;
  right: 0;
  margin-right: 20px;
  border-color: transparent transparent transparent #000000;
}

.review-container{
  padding-bottom: 40px;
}

.review{
  padding: 15px;
  background: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

article h2{
  font-size: 30px;

}

article p{
  text-align: justify;
}

/* Contact page */



.map-content h2{
  width: 45%;
  float: right;
  margin-top: 0;
  padding:0;
}
.map-content p{
  width: 45%;
  float: right;
  text-align: justify;
}

#map{
  height: 400px;
  width: 50%;
  float :left;

}


section.feedback .feedback-form input, section.feedback .feedback-form textarea{
  width: 90%;
  font-family: Arial;
  padding: 5px;
  padding-left: 5px;


}

section.feedback .feedback-form textarea{
  height: 100px;
}

/* About Us page*/
.container-1{
   display: flex;
   padding-left: 10%;
   padding-right: 10%;
   text-align: justify;

}

.container-1 div{
  border: 1px #ccc solid;
  padding:10px;
}

.box1{
  flex: 1;
}

.box2{
  flex: 1;
}

.box3{
  flex: 1;
}

.container-3{
   display: flex;
   padding-left: 10%;
   padding-right: 10%;
   padding-bottom: 5%;

}

.container-3 div{
  border: 1px #ccc solid;
  padding:10px;
}

.box4{
  flex: 2;
  order: 2;
}

.box5{
  flex: 1;
  order: 1;
}

.box6{
  flex: 1;
  order: 3;
}

/* Site Map*/

.sitemap-container{
   display: flex;
   padding-left: 10%;
   padding-right: 10%;
   padding-bottom: 5%;


}

.sitemap-container div{

  padding:10px;
}

.sitemapbox1{
  flex: 1;

}

.sitemapbox2{
  flex: 1;
}

.sitemapbox1 ul li a, .sitemapbox2 ul li a{
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;

}

.sitemapbox1 a:hover, .sitemapbox2 a:hover{
	color: #cc0000 ;
  font-weight: bold;
}
